<p>
  <a href="/">&lt;&lt; Index</a> |
  <a href="/one">Module 1</a> |
  <a href="/two">Module 2</a> |
  <a href="/three">Module 3</a> |
  <a href="/four">Module 4</a> |
  <a href="/five">Module 5</a>
</p>

<h1>Module Five</h1>
<p>Adjust <code>wrap</code> function to also handle sync calls and <code>next</code> middleware</p>
<ul>
    <li><a href="/five/a">5a</a> resolve</li>
    <li><a href="/five/b">5b</a> reject</li>
    <li><a href="/five/c">5c</a> throw</li>
    <li><a href="/five/d">5d</a> sync functions</li>
</ul>
