<p>
  <a href="/">&lt;&lt; Index</a> |
  <a href="/one">Module 1</a> |
  <a href="/two">Module 2</a> |
  <a href="/three">Module 3</a> |
  <a href="/four">Module 4</a> |
  <a href="/five">Module 5</a>
</p>

<h1>Module Four:</h1>
<p>Monkey patch <code>express.Router</code></p>
<ul>
    <li><a href="/four/a">4a</a> resolve</li>
    <li><a href="/four/b">4b</a> reject</li>
    <li><a href="/four/c">4c</a> throw</li>
    <li><a href="/four/d">4d</a> sync functions</li>
</ul>
