<h1>{{title}}</h1>
<p>This is the companion code for <a href="https://robrich.org/slides/async-await-node-express/#/">async / await with Node and Express</a>, a talk by <a href="https://robrich.org/about">Rob Richardson</a></p>

<p>
  <a href="/">Index</a> |
  <a href="/one">Module 1</a> |
  <a href="/two">Module 2</a> |
  <a href="/three">Module 3</a> |
  <a href="/four">Module 4</a> |
  <a href="/five">Module 5</a>
</p>
