<p>
  <a href="/">&lt;&lt; Index</a> |
  <a href="/one">Module 1</a> |
  <a href="/two">Module 2</a> |
  <a href="/three">Module 3</a> |
  <a href="/four">Module 4</a> |
  <a href="/five">Module 5</a>
</p>

<h1>Module One</h1>
<p>let's naively just use an async function.</p>
<ul>
    <li><a href="/one/a">1a</a> resolve works</li>
    <li><a href="/one/b">1b</a> reject never loads the page after erroring</li>
    <li><a href="/one/c">1c</a> throw never loads the page after erroring</li>
</ul>
