<p>
  <a href="/">&lt;&lt; Index</a> |
  <a href="/one">Module 1</a> |
  <a href="/two">Module 2</a> |
  <a href="/three">Module 3</a> |
  <a href="/four">Module 4</a> |
  <a href="/five">Module 5</a>
</p>

<h1>Module Three:</h1>
<p>A wrapper method that we need to use everywhere</p>
<ul>
    <li><a href="/three/a">3a</a> resolve</li>
    <li><a href="/three/b">3b</a> reject</li>
    <li><a href="/three/c">3c</a> throw</li>
    <li><a href="/three/d">3d</a> oops, forgot to wrap this one</li>
</ul>
