<p>
  <a href="/">&lt;&lt; Index</a> |
  <a href="/one">Module 1</a> |
  <a href="/two">Module 2</a> |
  <a href="/three">Module 3</a> |
  <a href="/four">Module 4</a> |
  <a href="/five">Module 5</a>
</p>

<h1>Module Two:</h1>
<p><code>try/catch</code> in every method.</p>
<p>Source: <a href="http://expressjs.com/en/guide/error-handling.html">http://expressjs.com/en/guide/error-handling.html</a></p>
<ul>
    <li><a href="/two/a">2a</a> resolve works</li>
    <li><a href="/two/b">2b</a> reject hits error page</li>
    <li><a href="/two/c">2c</a> throw hits error page</li>
</ul>
