body {
  padding: 50px;
  font: 1.8em "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #353535;
  color: white;
}

a {
  color: #00B7FF;
}

/*
.green {
  background-color: green;
  display: inline-block;
  width: .8em;
  height: .8em;
  border-radius: .5em;
}
*/
.green {
  color: rgb(0, 167, 0);
}